.score-table {
  width: 100%;
}

.score-table td {
  border: solid 1px gray;
}

.floating-section {
  bottom: 0.5em;
  box-sizing: border-box;
  margin-top: 1em;
  position: sticky;
  width: 100%;
}

.reduced-spacing {
  margin: 0.3em 0;
}

.mt0 {
  margin-top: 0;
}

@media(min-width: 700px) {
  .left-section {
    float: left;
  }
  .floating-section {
    bottom: unset;
    margin-top: 0;
    min-width: 275px;
    position: fixed;
    right: 0.5em;
    width: unset;
  }
}
