<h3>Round {{round}} — {{pointsAtStake}} points at stake</h3>
<table [formGroup]="group">
  <thead>
    <tr>
      <th>Roll #</th>
      <th>Rolled</th>
      <th *ngFor="let playerName of players">{{playerName}}</th>
    </tr>
  </thead>
  <tbody formArrayName="rows">
    <tr *ngFor="let roll of rows.controls; index as iRow" [formArrayName]="iRow">
      <td>{{iRow + 1}}</td>
      <td><input type="text" [formControlName]="0" class="roll-input"></td>
      <!-- Not sure how best to calculate intermediate point values -->
      <td *ngFor="let playerName of players; index as iCheckbox">
        <input type="checkbox" name="" id="" [formControlName]="iCheckbox">
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="errorMessage">{{errorMessage}}</p>
