:host {
  display: inline-block;
}

.control-grid {
  display: grid;
  grid-template-columns: 3em 4em repeat(calc(var(--column-count) - 2), auto);
  gap: 0 1ch;
}

.limit-height {
  max-height: 12em;
  overflow-y: auto;
}

.column-header {
  font-weight: bold;
  text-align: center;
}

.roll-input {
  max-width: 8ch;
  place-self: center;
  text-transform: uppercase;
}

.fainter {
  filter: grayscale();
  opacity: 0.5;
}

.normal-cursor {
  cursor: default;
}

.center {
  text-align: center;
}

.col1 {
  grid-column: 1;
}

.col2 {
  grid-column: 2;
}

.small-margin-top {
  margin-top: 0.5em;
}

.margin-after-round {
  margin-bottom: 1em;
}
