<div class="overlay">
  <h1>{{title}}</h1>

  <p class="reading-width">
    <strong>Rules.</strong> The game lasts twenty rounds, and each round will have many rolls.
    Players take turns rolling two dice at once to add to the points at stake. Players choose when to
    "go out" to lock in the points at stake for themselves.
  </p>
  <div class="reading-width">
    <p>During each round:</p>
    <ul>
      <li>For the first three rolls, doubles don't matter, and sevens are worth 70 points.</li>
      <li>
        After that, rolling doubles (D) will double the points at stake.
        Rolling a seven will end that round, and players who were still in will get zero points for the round.
      </li>
    </ul>
  </div>
</div>

<game-setup *ngIf="isStatusPreparing" class="overlay"></game-setup>

<game-ui *ngIf="isStatusPlaying"></game-ui>
