body {
  background: rgb(35, 107, 9);
  background: linear-gradient(0deg, rgba(35, 107, 9, 1) 0%, rgba(10, 186, 70, 1) 100%);
  font-family: Quicksand, sans-serif;
  min-height: 100vh;
}

round-entry {
  display: inline-block;
}

.overlay {
  background: white;
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0 rgba(0, 128, 128, 0.56);
  margin: 0.5em;
  padding: 0.5em 1em;
}

button, .button-style {
  padding: 0.4em 0.8em;
  border-radius: 1em;
  border: solid 0.5px white;
}


  .score-table {
    width: 100%;
    border-spacing: 0;
  }

  .score-table td {
    border-bottom: solid 1px #ccc;
  }

  .floating-section {
    bottom: 0.5em;
    box-sizing: border-box;
    margin-top: 1em;
    position: sticky;
    width: 100%;
  }

  .reduced-spacing {
    margin: 0.3em 0;
  }

  .mt0 {
    margin-top: 0;
  }

  .space-at-bottom {
    margin-bottom: 1em;
  }

  @media(min-width: 700px) {
    .left-section {
      float: left;
    }
    .floating-section {
      bottom: unset;
      margin-top: 0;
      min-width: 275px;
      position: fixed;
      right: 0.5em;
      width: unset;
    }
  }

@layer round-entry {
  .control-grid {
    display: grid;
    grid-template-columns: repeat(var(--column-count), auto);
    gap: 0 1ch;
    justify-items: center;
  }

  .limit-height {
    max-height: 12em;
    overflow-y: scroll;
    padding-right: 1em;
  }

  .column-header {
    background: white;
    font-weight: bold;
    white-space: nowrap;

    position: sticky;
    top: 0;
  }

  .roll-input {
    max-width: 8ch;
    place-self: center;
    text-transform: uppercase;
  }

  .fainter {
    filter: grayscale();
    opacity: 0.5;
  }

  .normal-cursor {
    cursor: default;
  }

  .center {
    text-align: center;
  }

  .col1 {
    grid-column: 1;
  }

  .col2 {
    grid-column: 2;
  }

  .back-in-button {
    display: inline;
    white-space: nowrap;
  }

  .margin-after-round {
    margin-bottom: 1em;
  }

}

.inline-block {
  display: inline-block;
}
