<section class="left-section">
  <div class="overlay">
    <h2 class="reduced-spacing">Rounds</h2>
  </div>
  <div *ngFor="let round of twentyRounds">
    <round-entry [round]="round" class="overlay"></round-entry>
  </div>
</section>
<section class="floating-section overlay">
  <h2 class="mt0">Scores</h2>
  <table class="score-table">
    <tbody>
      <tr *ngFor="let score of scores | sortScores">
        <td>{{score.playerName}}</td>
        <td>{{score.points}} points</td>
      </tr>
    </tbody>
  </table>
  <div class="space-at-bottom"></div>
</section>
