<h1>{{title}}</h1>

<p>
  <strong>Rules.</strong> Players take turns rolling two dice to add to the score.
  The first three dice rolls are normal, except sevens are worth 70 points.
  Dice rolls after the first three are normal, except doubles will double the score, and
  sevens will now set the score to zero and end the current round. Before any roll, players
  may "go out" to lock in the points accumulated in the current round. Play continues for
  twenty rounds.
</p>

<game-setup *ngIf="isStatusPreparing"></game-setup>

<game-ui *ngIf="isStatusPlaying"></game-ui>
